$dark-purple: #660b8c;
$magenta: #9704bf;
$blue: #1d28f2;
$light-orange: #f28907;
$dark-orange: #f24405;

$gray: #6b6375;
$black: #161131;
$white: #f7f4fa;

$header-font: "komu-new-c", sans-serif;
$body-font: "dm-sans", sans-serif;
