@use "../../../sass/variables" as *;

.mapCard {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);

  width: 320px;
  min-height: 200px;
  padding: 1.2rem;

  background: $white;
  border: 4px solid $black;
  border-radius: 10px;

  z-index: 30;
}

.closeBtn {
  width: 100%;
  text-align: right;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.cardImg {
  width: 100%;
  height: 120px;
  border: 2px solid $black;
  margin-bottom: 0.8rem;
}

.cardImg img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
